.collectionItem {
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .collectionFooter {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 90%;
    }

    .price {
      width: 10%;
    }
  }

  button {
    width: 80%;
    position: absolute;
    opacity: 0.6;
    top: 240px;
    display: none;
  }

  &:hover {
    .image {
      opacity: 0.7;
    }

    button {
      opacity: 0.8;
     display: block;
    }
  }
}

@media screen and (max-width: 768px) {
  .collectionItem {
    width: 85%;

    .price {
      display: flex;
      justify-content: flex-end;
    }
  }
}

