.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logoContainer {
    height: 100%;
    width: 70px;
    padding: 25px;

    svg {
      width: 100%;
      height: 100%;
      transform: scale(2.5);
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a, .option, button {
      padding: 10px 15px;
      font-weight: bold;
      font-size: 1.2rem;
      cursor: pointer;
      background: none;
      border: none;
      font-family: inherit;
    }
  }
}

@media screen and (max-width: 756px) {
  .header {
    width: 98%;

    .options {
      width: 95%;
      margin: auto;

      a, .option {
        font-size: 1rem;
        padding: 10px 10px;
      }
    }
  }


}


@media screen and (max-width: 576px) {
 .header {
   .options {
     width: 95%;

     a, .option {
       font-size: 0.9rem;
     }
   }
 }


}
