body {
  font-family: "Open Sans Condensed", sans-serif;
  padding: 20px 60px;
  border: none;
}
a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 768px) {
  html {
    width: 92vw;
    margin: auto;
  }

  body {
    padding: 5px;
  }

  .app {
    min-width: 300px;
  }
}
